<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6726305986-0cmkrvitirmp33fnacjditmjl3n6fefp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6726305986-0cmkrvitirmp33fnacjditmjl3n6fefp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6726305986-oik1voqptj12f1rhobthkrnbvo0thtg3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS7-9HmKS-ACoMNURQ8mhSZ1sOwgfO_n0</string>
	<key>GCM_SENDER_ID</key>
	<string>6726305986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dancevibes</string>
	<key>PROJECT_ID</key>
	<string>todo-ea2e5</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ea2e5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6726305986:ios:8af3ed778c74f0fe22935b</string>
</dict>
</plist>